* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

body {
    background-size: cover;
    text-align: center;
    background-color: #B9C8D4;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
    color: #395D79;
    font-family: 'Roboto', sans-serif;
    /*    text-shadow: 1px 1px #E4EAEF;*/
}

h2 {
    font-size: 2rem;
    color: #395D79;
    font-family: 'Roboto', sans-serif;
    /*    text-shadow: 1px 1px #E4EAEF;*/
}

button {
    width: 10%;
    line-height: 30px;
    background-color: #395D79;
    border: 1px solid #4E4E4E;
    border-radius: 3px;
    text-shadow: 0.5px 0.5px #B9C8D4;
    color: #FFD1BF;
    font-size: 20px;
    padding: 3px;
    margin: 3px;
}

main {
    width: 100%;
    display: block;
    /* margin-bottom: 1rem; */
}

form {
    background-color: #FFF6DD;
    /* opacity: 0.9; */
    width: 100%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    color: #BC6F51;
    padding: 5rem;
    border-radius: 25px;
}

a {
    text-decoration: none;
}

nav {
    background-color: #FFF6DD;
}

span {
    font-size: 10rem;
    color: #395D79;
}

i {
    text-shadow: 1px 1px #88A0B2;
    color: #FFD1BF;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: block;
    margin-left: 3rem;
    margin-bottom: 1px;
    padding-bottom: 3px;
    text-align: left;

}

input {
    background-color: #FFD5BF;
    color: #395D79;
    /* text-shadow: 0.2px 0.2px #395D79; */
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    padding: 3px;
    margin: 1px;
    border: 1px solid #395D79;
    border-radius: 3px;
    width: 80%;
}

input::placeholder {
    color: ##395D79;
}

strong {
    color: #395D79;
}

select {
    border: 1px solid black;
    font-size: 1.5rem;
    margin-top: 10px;
}

.loginLogo {
    width: 100%;
    height: 500px;
    opacity: 0.3;
}

.table,
.homeSectionsTable {
    width: 100%;
    overflow-x: auto;
    border: 1px solid black
}

.homeScreen {
    text-align: none;
}

.row {
    display: block;

}

.loginTitle {
    margin-top: -3rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;

}

.formButton {
    width: 80%;
}

.demoContainer {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #395D79;
    padding: 1.5rem 4rem;
}

.homeSectionsInfo {
    background-color: #FFF6DD;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 25px;
}

.loginMessage {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.loginSubTitle {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #395D79;
}

.registerScreen {
    margin-top: 2rem;

}

.formGroup {
    margin-bottom: 1rem;
}

.cellTitle {
    font-size: 1.7rem;
    color: #BC6F51;
    border-right: none;
}

.cell {
    display: inline-block;
    width: 33%;
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    padding: 1rem;
    border-right: 1px solid black;
}

.cell:last-child {
    border-right: none;
}

.cellTrans {
    width: 16.4%;
    display: inline-block;
    padding: 1rem;
    border-right: 1px solid black;
}

.cellTrans:last-child {
    border-right: none;
}

.homeSectionsTitle {
    margin: 2rem;
    padding: 1rem;
}

.homeSectionsButton {
    line-height: 30px;
    font-size: 20px;
    margin: 2rem;
    padding: 3px;
    border: 1px solid #4E4E4E;
    border-radius: 3px;
}

.logoHolder,
.navList {
    display: inline-block;
    width: 49%;
}

.logoHolder {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.navList {
    vertical-align: middle;

}

.logos {
    display: inline;
    color: #395D79;
}

.footer {
    color: #395D79;
    margin: 1rem;
    text-decoration-line: underline;
    text-decoration-color: #395D79;
}

.welcome {
    width: 5rem;
}

.navOptions {
    display: inline-block;
    margin: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-right: 2px solid #FFD1BF;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 15%;
    color: #395D79;
}

.navOptions:last-child {
    border-right: none;
}

.navContainer {
    border-bottom: 3px solid white;
    line-height: 10px;
}

.welcomeMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.welcomeContainer {
    position: relative;
}

.firstWelcomeMessage,
.secondWelcomeMessage {
    margin: 2rem;
    padding: 1rem;
}

.budgetTotalContainer {
        font-size: 19px;
        font-weight: bolder;
    }


.tableIcons {
    display: inline;
    color: #395D79;
    padding: 5px 10px;
    border: 2px solid #515354;
    background-color: #E4EAEF;
}

.typeIcon {
    padding-left: 5px;
    font-size: 12px;
    vertical-align: top;
}

.positive {
    color: green;
}

.negative {
    color: red;
}


.quickViewTitle {
    display: block;
    color: #FFD1BF;
    text-shadow: 1px 1px #4E4E4E;
}

.quickViewIcon {
    text-shadow: 4px 4px #4E4E4E;
}

#quickViewBudget {
    background-color: #214662;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: block;
}

#quickViewTrans {
    background-color: #5D7D94;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: block;
}

#quickViewGoals {
    background-color: #88A0B2;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: block;
}

#budgetConditionalTitle {
    color: #BC6F51;
    font-size: 30px;
    padding-bottom: 10px;
}

#budgetType {
    background-color: #FFD5BF;
    color: #395D79;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    padding: 1px;
    margin: 1px;
    border: 1px solid #395D79;
    border-radius: 3px;
    width: 80%;
}

#budgetType::placeholder {
    color: ##395D79;
}


.faces {
    color: #214662;
    padding-right: 5px;
}

.budgetConditionalOptions {
    font-size: 3rem;
    color: #214662;
}

.loginInnerContainer,
.innerRegisterBox,
.transactionOutterContainer,
.goalsOutterContainer,
.budgetForms {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.homeSections {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}


.budgetInnerContainer {
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #FFF6DD;
    width: 75%;
    border-radius: 25px;
}

.homeScreenBudget {
    margin-top: 1rem;
}

#budgetConditionalContainer {
    margin: 1rem;
    padding: 1rem;
}

.resultTitle {
    font-size: 2.5rem;
}




/*media queries*/

@media only screen and (max-device-width: 1024px) {

    body {
        background-color: blue;
    }

    label {
        margin-left: 1.3rem;
    }

    input {
        width: 90%;
    }

    button {
        width: 19%;
    }

    .formButton {
        width: 90%;
    }

    #budgetType {
        width: 90%;
    }

    .loginInnerContainer,
    .innerRegisterBox,
    .transactionOutterContainer,
    .goalsOutterContainer,
    .budgetForms {
        width: 60%;
    }

    .homeSections {
        width: 98%;
    }

    .homeSectionsInfo {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .cellTrans {
        width: 16%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 13px;
        border-right: 0.5px solid black;
    }

    .budgetTotalContainer {
        font-size: 15px;
    }

    .budgetInnerContainer {
        width: 98%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .navOptions {
        width: 19%;
    }
}


/*ipad potrait*/

@media only screen and (max-device-width: 768px) {

    body {
        color: red;
        background-color: red;
    }
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
        background-color: green;
    }
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
        background-color: purple;
    }
}





