* {
    padding: 0px;
    margin: 0px;
    font-size: 100%;
    border: 0px;
    box-sizing: border-box;
}

body {
    background-size: cover;
    text-align: center;
    background-color: #B9C8D4;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
    color: #395D79;
/*    text-shadow: 1px 1px #E4EAEF;*/
}

h2 {
    font-size: 2rem;
    color: #395D79;
/*    text-shadow: 1px 1px #E4EAEF;*/
}

button {
    border: 1px solid black;
    width: 10%;
    line-height: 35px;
    background-color: #FFD1BF;
    border: 1px solid #FFD1BF;
    border-radius: 3px;
    text-shadow: 1px 1px #B9C8D4;
    color: #395D79;
}

main {
    width: 100%;
    display: block;
}

form {
    background-color: #FFF6DD;
    /* opacity: 0.9; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: #BC6F51;
    padding: 5rem;
}

a {
    text-decoration: none;
}

nav {
    background-color: #FFF6DD;
}

span {
    font-size: 10rem;
    color: #395D79;
}

i {
    text-shadow: 1px 1px #88A0B2;
    color: #E7A58B;
}

.introScreen{
    background-color: transparent;
}

.loginLogo {
    width: 100%;
    height: 500px;
    box-shadow: 8 0 8px rgba(0, 0, 0, 0.3);
    opacity: 0.3;
    border-bottom: 3px solid #FFFCF3;
}

.table, .homeSectionsTable {
    width: 100%;
    overflow-x: auto;
    border: 1px solid black
}

.row {
    display: block;

}

.cells {
    display: inline-block;
    width: 25%;
    border-right: 1px solid black;
}

.logoHolder, .navList {
    display: inline-block;
    width: 49%;
}

.logoHolder {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.navList {
    vertical-align: middle;

}

.logos {
    display: inline;
}

.navOptions {
    display: inline-block;
    margin: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    border-right: 2px solid #FFD1BF;
    /* padding: 1rem; */
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 15%;
    color: #395D79;
}

.navOptions:last-child {
    border-right: none;
}

.navContainer {
    border-bottom: 3px solid white;
    line-height: 10px;
}

.welcomeMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.welcomeContainer {
    position: relative;
}

#firstWelcomeMessage, #secondWelcomeMessage {
    margin: 2rem;
    padding: 1rem;
}

.quickViewOptions {
    margin: 6rem;
    max-height: 333px;
}

.quickViewTitle {
    display: block;
    margin-bottom: 3rem;
    color: #E7A58B;
    text-shadow: 1px 1px #88A0B2;
}

#quickViewBudget {
    background-color: #214662;;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#quickViewTrans {
    background-color: #5D7D94;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#quickViewGoals {
    background-color: #88A0B2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

quickViewContainer {
    max-height: 1000px;
}
